*.log
*~
*.pyc
*.swp
python/ipython/profile_default/log/
python/ipython/profile_default/pid/
python/ipython/profile_default/security/
python/ipython/profile_default/*.sqlite
python/ipython/profile_default/db
vim/netrwhist
python/ipython/profile_default/static/
vim/pack/jetpack
